<h1>Listing gathletes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gathletes.each do |gathlete| %>
      <tr>
        <td><%= link_to 'Show', gathlete %></td>
        <td><%= link_to 'Edit', edit_gathlete_path(gathlete) %></td>
        <td><%= link_to 'Destroy', gathlete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gathlete', new_gathlete_path %>
