/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap/bootstrap
 *= require bootstrap/bootstrap-select.min
 *= require home
 */

  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .header {
    
  }
  
  .logo {
    border-radius: 20px;
  }

  .menu {
    border-style: solid;
    border-width: 3px;
    border-color: #000099;
    border-radius: 10px;
    background-color: #BDECC5;
    min-height: 200px;
  }
  
  .main-content {
    border-style: solid;
    border-width: 3px;
    border-color: #000099;
    border-radius: 10px;
    background-color: #BDECC5;
    min-height: 200px;
    margin: 0px, auto;
    padding-top: 25px;
  }
  
  .trainer-page-content {
    border-style: solid;
    border-width: 3px;
    border-color: #000099;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #BDECC5;
    min-height: 200px;
    padding-top: 25px;
  }
  
  .trainer-page-datas {
    border-style: solid;
    border-width: 3px;
    border-color: #000099;
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #BDECC5;
    min-height: 200px;
    padding-top: 25px;
  }
  
  .left-border {
    border-right: 3px solid #000099;
  }
  
  .small-margin {
    margin-top: 15px;
  }
  
  .medium-margin-top {
    margin-top: 30px;
  }
  
  .small-margin-bottom {
    margin-bottom: 15px;
  }
  
  .small-margin-left {
    margin-left: 15px;
  }
  
  .odd-row-color {
    background-color: #34B84B;
  }
  
  .even-row-color {
    background-color: #C9EFCF;
  }
  
  .blue-back {
    background-color: #57AAE8;
  }
  
  .margin-right-left {
    margin: 0px auto !important;
    max-width: 90%;
  }
  
  .refresh {
    background: url(rsz_refresh-icon.png)!important;
    background-size: 45px 45px;
  }
  
  .right-arrow {
    background: #428BCA url(ra.png)!important;
    background-size: 64px 64px;
    width: 64px;
    height: 64px;
  }
  
  .left-up {
    position:relative;
    left: -13px;
    top: -7px;
  }
  
  .form-label {
    text-align: right;
    position:relative;
    top: 7px;
    
  }
  
  .square {
    width: 45px;
    height: 45px;
  }
  
  .athletes-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-start {
    min-height: 270px;
    background-color: #9FCFFF;
    border-radius: 0px 0px 100px 100px;
    padding: 20px 200px 20px 200px;
  }
  
  .content-training {
    min-height: 270px;
    background-color: #9FCFFF;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 20px 20px 20px;
  }
  
  .table-history {
    border-top-right-radius: 30px;
  }
  
  .athlete-name {
    font-size: 150%;
  }
  
  .trainer-name {
    margin-top: 20px;
    font-size: 125%;
  }
  
  .sections-font {
    font-size: 120%;
  }
  
  .cent {
    text-align: center;
  }
  
  .to-right {
    text-align: right;
    position:relative;
    top: 7px;
  }
  
  .right {
    text-align: right;
  }
  
  #cnt {
    background-color: red;
    margin: 0px auto;
    width: 200px;
  }
  
  #new-athlete-box {
    border-style: solid;
    border-width: 3px;
    border-color: #000099;
    border-radius: 10px;
    background-color: #BDECC5;
    min-height: 200px;
    margin: 0px, auto;
    padding-top: 25px;
    
    height:auto;
  display:none;
}
  .slide {
    margin:0;
    padding:0;
  }
  
  .pull-me {
    margin-top: 10px;
    cursor:pointer;
    display:block;
    position:auto;
    width:500px;
    color: black;
    margin: auto;
    text-align: center;
    height:40px;
    font-size:24px;
    background:green;
    text-decoration:none;
    border-radius:5px;
}
    
    
.pull-me p {
    text-align:center;
}  
